/*-----------------------imges--------------------*/
.about_imgs{
    margin: 30px 20px 30px 20px;
}
.about_img{
    width: 100%;
    margin: 30px 0px 30px 0px;
}










/*----------------------- end imges--------------------/
